<section id="work_space">
  <div class="center_sect flex justify-center align-middle">
    <div class="doc_wrapper w-[650px] py-10">
      @if(isLoading || isUserLoading){
      <app-workspace-loading />
      }@else { @for(doc of documents; track doc.id){
      <div class="doc mb-4 bg-sub-warm p-4 rounded-md">
        <h3 class="title text-2xl font-bold text-[#000000b8]">
          {{ doc.title }}
          <a
            [routerLink]="['/w', doc.uid, doc.id]"
            class="text-base font-normal text-accent-secondary border border-accent-secondary px-2 rounded-md ml-3 hover:bg-accent-secondary hover:text-white transition-all duration-200"
          >
            edit
          </a>
        </h3>
        <footer
          class="flex justify-between align-middle mt-3 text-sm italic text-[#9d9d9d]"
        >
          <p>created: {{ doc.createdAt }}</p>
          <p *ngIf="doc.updateAt">updated: {{ doc.updateAt }}</p>
        </footer>
      </div>
      } @empty {
      <p class="text-center italic">No Documents</p>
      }
      <button class="btn block mx-auto mt-8" (click)="handleOpenModal()">
        New
      </button>
      }
    </div>
  </div>

  <app-modal-layout *ngIf="isModalOpen" [closeModal]="setIsModalOpen">
    <app-workspace-modal
      [uid]="userInfo.uid"
      [setDocs]="setDocuments"
      [getDocs]="getDocuments"
      [setModal]="setIsModalOpen"
    />
  </app-modal-layout>
</section>
